Repository elastic/apm-k8s-attacher, pull requests merged in 2025-03, with the labels that each got.

#132 github-action: Add AsciiDoc freeze warning
  .github/workflows/comment-on-asciidoc-changes.yml
Labels: apm-k8s-attacher

#133 [docs] Add the new docs CI checks
  .github/workflows/docs-build.yml
  .github/workflows/docs-cleanup.yml
Labels: Team:Docs, apm-k8s-attacher

#142 [docs] Miscellaneous docs clean up
  docs/docset.yml
Labels: documentation, Team:Docs, apm-k8s-attacher
